.inlined{
    display: inline;

}

.inlined_bpm{
    display: inline;
    width: 23px;
    height: 100px;
}

.horiLine{
    width: 20px;
    height: 0px;
    border-top: 2px solid black;
    display:inline-flex;
}

.black {
    stroke: black;
    fill: black;
}

.skyBlue {
    stroke:  rgb(61, 147, 197);
    fill: rgb(61, 147, 197);
}

.cursor {
    stroke:  rgb(140, 82, 187);
    fill: rgb(140, 82, 187);
    opacity: 0.2;
}

.blink_me {
    animation: blinker 1s linear infinite;
    fill: rgb(140, 82, 187);
    stroke: rgb(140, 82, 187);
    z-index: 1;
  }
  
  @keyframes blinker {
    0% {opacity: 1}

    50% {opacity: 1}
    51% {opacity: 0}
    100% {opacity: 0}
  }

  .scroll {
    margin: 4px, 4px;
    padding: 4px;
    background-color: #08c708;
    width: 300px;
    overflow-x: auto;
    overflow-y: hidden;
}