@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
html {
    background: linear-gradient(to top, #3f4454, #0f0930);
    font-family: 'Roboto', sans-serif;
}

.Community {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.logo {
    zoom: 0.4;
    position: absolute;
    top: 40px;
    left: 50px;
}

.Community .Language-Select-Dark{
    position: absolute;
    top: 0px;
    right: 0px;
}

.searchWrapper {
    display: flex;
    width: 60vw;
    height: 5vh;
    margin: 20px auto;
    justify-content: center;
}

.searchWrapper .search {
    color: gray;
    border-radius: 10px;
    height: 30px;
    width: 45vw;
    background-color: white;
    border: 2px inside white;
    margin: 0px 30px 0px 30px;
    font-size: 1.3rem;
    font-weight: 200;
    justify-content: center;
    display: flex;
    align-items: center;
}

.searchInput {
    border: none;
    background: none;
    width: stretch;
    margin: 0px 10px 0px 10px;
    padding: 0px 15px 0px 15px;
    font-weight: 200;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

.searchInput:focus {
    outline: solid black 2px;
}

.searchButton {
    cursor: pointer;
}

.newPostButton {
    display: flex;
    text-align: center;
    padding-top: 5px;
    justify-content: center;
    width: 60vw;
    height: 1.5rem;
    background: linear-gradient(to top, #555cc5, #6a5ae1);
    color: white;
    text-decoration: none;
    border-radius: 10px;
    margin: 20px auto;
    border: none;
    outline: none;
    cursor: pointer;
}

.listWrapper {
    width: 60vw;
    height: 75vh;
    background: linear-gradient(to top, #eaecf1, #cac7dc);
    overflow-y: scroll;
    margin: 20px auto;
    border-radius: 10px;
}

.listWrapper::-webkit-scrollbar {
    width: 25px;
}

.listWrapper::-webkit-scrollbar-thumb {
    border-radius: 25px;
    box-shadow: inset 0 0 10px 10px white;
    border: solid 10px transparent;
}

.listWrapper::-webkit-scrollbar-track {
    border-radius: 25px;
    margin: 10px;
    box-shadow: inset 0 0 10px 10px gray;
    border: solid 10px transparent;
}

.itemWrapper {
    display: flex;
    flex-direction: column;
}

.itemWrapper.mine {
    display: flex;
    flex-direction: column;
}

.itemWrapper.mine .titleWrapper {
    margin: 0px 10% 0px 0px;
}

.itemWrapper.mine .titleWrapper .title {
    color: #3855EC;
    margin: 20px 15px 0px 25px;
}

.itemWrapper.mine .descWrapperWrapper {
    margin: 10px 10px 10px 20px;
}

.itemWrapper.mine .authorWrapper {
    margin: 20px 10px 0px 0px;
}

.itemWrapper.mine .bottomWrapper {
    flex-direction: row-reverse;
}

.bottomWrapper {
    display: flex;
}

.authorWrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column;
    margin: 20px 0px 0px 10px;
    width: 100%;
    max-width: 10%;
}

.authorWrapper .authorProfilePic {
    width: 50px;
    height: 50px;
    min-height: 50px;
    background-color: #6a5aec;
    border-radius: 25px;
}

.authorWrapper .authorName {
    white-space: pre-wrap;
    font-weight: 300;
    font-size: 1.125rem;
    margin: 5px 0px 0px 0px;
    flex-wrap: wrap;
}

.authorWrapper .authorSub {
    display: flex;
    height: stretch;
    flex-direction: column;
    justify-content: space-between;
}

.authorWrapper .authorSub .deleteButton {
    margin: 0px 0px 10px 0px;
}

.authorWrapper .authorSub .deleteButton svg {
    cursor: pointer;
}

.titleWrapper {
    display: flex;
    align-items: flex-end;
    margin: 0px 0px 0px 12%;
}

.titleWrapper .title {
    font-weight: 400;
    margin: 20px 15px 0px 15px;
    font-size: 1.5125rem;
    display: inline-block;
    white-space: pre-line;
    color: #494951;
}

.titleWrapper .titleSub {
    width: stretch;
    display: flex;
    justify-content: space-between;
}

.titleWrapper .titleSub .date {
    font-weight: 400;
    font-size: 0.9375rem;
    display: inline-block;
    color: #6a5aec;
    margin-bottom: 4px;
}

.titleWrapper .titleSub .editWrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    cursor: pointer;
}

.titleWrapper .titleSub .editWrapper svg {
    fill: #0033FF;
    margin: 0px 10px 0px 0px;
}

.titleWrapper .editButton {
    color: #0033FF;
    font-size: 1rem;
    margin: 0px 20px 0px 0px;
}

.descWrapperWrapper {
    border-radius: 10px;
    box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.25);
    background: white;
    margin: 10px 20px 10px 10px;
    padding: 15px 15px 5px 15px;
    height: fit-content;
}

.descWrapper {
    display: grid;
    grid-template: "a a a" 3fr "b c d" 0.5fr / 1fr 8fr 3fr;
}

.descWrapper .sheetWrapper {
    grid-area: a;
}

.descWrapper .favWrapper {
    display: flex;
    align-items: center;
    grid-area: b;
    margin-right: 20px;
}

.descWrapper .favNum {
    font-weight: 200;
    font-size: 1.125rem;
    height: max-content;
    margin: 0.375rem;
}

.descWrapper .tagWrapper {
    grid-area: c;
    display: flex;
    align-items: center;
}

.descWrapper .tagWrapper .tag {
    font-size: 1.125rem;
    font-weight: 200;
    border-radius: 15px;
    background-color: #70b8ce;
    display: inline-block;
    padding: 5px 20px 5px 20px;
}

.descWrapper .descButtonWrapper {
    grid-area: d;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.descWrapper .descButtonWrapper .descButtonText {
    font-size: 1.125rem;
    color: #6a5aec;
    font-weight: 300;
    cursor: pointer;
}

.hidden {
    display: none;
}

.favWrapper {
    cursor: pointer;
}

.favWrapper svg {
    fill: #E2E3EC
}

.favved.favWrapper svg {
    fill: #ffe135
}

.Community .my-profile{
    position: absolute;
    top: 60px;
    right: 20px;
}