
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,900&family=Noto+Serif+KR:wght@900&family=Song+Myung&display=swap');

.Instruction span {
    line-height: 150%;
}

.note {
    padding: 1px 4px;
    font-weight: bold;
    background-color: rgb(186, 189, 233);
    border-radius: 5px;
    color: rgb(40, 43, 73);
}

.term {
    font-family: 'Merriweather', 'Noto Serif KR', serif;
    padding: 1px 4px;
    font-weight: 900;
    background-color: rgb(226, 198, 161);
    border-radius: 5px;
    color: rgb(41, 16, 16);
}

.absolute {
    padding: 1px 5px;
    font-weight: bold;
    background-color: rgb(179, 197, 228);
    border-radius: 5px;
    color: rgb(7, 9, 39);
}