.Language-Select-Dark {
    margin-top: 20px;
}

.Language-Select-Dark button {
    border: none;
    background: none;
    color: white;
    padding: 0px 20px 0px 20px;
    cursor: pointer;
    outline: none;
}

.Language-Select-Dark button+button {
    border-left: #cdbfda 1px solid;
}

.selected {
    font-weight: bold;
}

.unselected {
    opacity: 70%;
}



.Language-Select-Light {
    position: fixed;
    top: 23px;
    right: 170px;
}

.Language-Select-Light button {
    border: none;
    background: none;
    color: #7147CB;
    padding: 0px 15px 0px 15px;
    cursor: pointer;
    outline: none;
}

.Language-Select-Light button+button {
    border-left: #7147CB 1px solid;
}

.selected {
    font-weight: bold;
}
