.LearnNote{
    display: block;
}

.LearnNote-Logo{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    margin: 20px;
    padding: 10px;
    background: black;
    color: white;
}

.LearnNote-PageNavigator{
    position: fixed;
    top: 0;
    right: 0;
    margin: 20px;
    text-align: left;
}

.LearnNote-PageNavigator input{
    width: 1.5em;
}

.LearnNotePages {
    height: 90vh;
    display: grid;
    grid-template-rows: 1fr 1fr 2fr;
    grid-gap: 20px;
    margin: 0 50px;
    text-align: center;
}

.LearnNotePages-Instruction {
    padding: 10vh 0%;
}

.LearnNotePages-Sheet {
    color: white;
    background-color: lightgray;
}

.LearnNotePages-Keyboard {
    color: white;
    background-color: aquamarine;
}


.LearnNote-Next{
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 20px;
    padding: 10px 20px;
    border-radius: 20px;
    text-align: right;
    background-color: black;
    color: white;
    text-decoration: none;
}
