@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
.LearnLayout {
    width: 100vw;
    display: block;
    background: linear-gradient(to top, #cac7dc, #eaecf1);
    overflow: auto;
    
}

@keyframes twinkle {
    from {
        color: #eaecf1;
        fill: #eaecf1;
        opacity: 0%;
    }
    to {
        color: black;
        fill: black;
        opacity: 100%;
    }
}

.Piano {
    display: flex;
    justify-content: center;
}

.Instruction {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    user-select: text;
    width: 80vw;
}

.updated {
    animation: twinkle ease-in-out 1s;
}

.Logo path {
    fill: black;
    stroke: black;
    stroke-width: 1;
    stroke-linecap: round;
}

.LogoContainer {
    display: inline-flex;
    position: fixed;
    top: 0;
    left: 0;
    border-radius: 100px;
    padding: 20px 30px;
    vertical-align: baseline;
}

.Logo {
    zoom: 0.3;
}

.GameName {
    font-size: 1rem;
    font-weight: 300;
    align-self: flex-end;
    margin: 3px 5px;
    color: rgb(118, 89, 131);
}

.PageNavigator {
    position: fixed;
    top: 0px;
    right: 0px;
    display: flex;
    align-items: center;
    margin: 15px 20px;
    border-radius: 30px;
    background-color: #ffffff;
    font-size: 1rem;
    overflow: hidden;
    padding: 3px;
    box-shadow: 1px 1px 5px 0.5px rgb(188, 169, 196);
}

.PageNavigator input {
    width: 1.5em;
    border: none;
    border-radius: 5px;
    padding: 3px;
    background-color: rgb(237, 231, 240);
    font-size: 0.95rem;
    text-align: right;
}

.PageNavigator input:hover,
.PageNavigator input:focus {
    background-color: rgb(224, 225, 231);
    outline: none;
}

.GoLeft,
.GoRight {
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;
    padding: 10px;
    cursor: pointer;
}

.GoLeft {
    padding-left: 15px;
}

.GoRight {
    padding-right: 15px;
}

.GoLeft.Hide,
.GoRight.Hide{
    opacity: 0.3;
    cursor: default;
}

.PageNavigator svg {
    zoom: 0.7;
}

.LearnPage {
    height: 100vh;
    top: 0;
    left: 0;
    display: grid;
    grid-template-rows: 1fr 60px 1fr 2fr;
    margin: 0 50px;
}

.ProgressBarWrapper {
    height: 10px;
    align-self: center;
    width: 40vw;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
}

.ProgressBarText{
    color: white;
    position: relative;
    text-align: center;
    opacity: 0;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
}

.Next .ProgressBarText{
    transition: opacity 0.2s 2s;
    opacity: 1;
}

.ProgressBar{
    display: grid;
    grid-auto-flow: column;
    align-self: center;
    height: 10px;
    overflow: hidden;
    background-color: rgb(163, 163, 163);
    border-radius: 5px;
}

.ProgressBar .ProgressBefore{
    background-color: #7147CB;
}
.ProgressBar .ProgressCur{
    background-color: #7147CB;
    border-radius: 0px 5px 5px 0px;
    animation: progress 1s normal forwards;
}


@keyframes progress {
    0% {width: 0;}
    90% {width: 110%;}
    100% {width: 100%;}
}

.Sheet{
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.PlayButton,
.StopButton{
    cursor: pointer;
    opacity: 0.8;
    transition: opacity 0.2s;
}

.PlayButton:hover,
.StopButton:hover{
    transition: opacity 0.4s;
    opacity: 1;
}

.Next{
    animation: toNextButton 1.5s 1s forwards;
    cursor: pointer;
}

@keyframes toNextButton {
    50%{
        margin-top: 0;
        width: 0px;
        height: 10px;
    }
    80%{
        margin-top: 0;
        width: 0px;
        height: 10px;
    }
    90%{
        width: 65px;
        height: 45px;
    }
    100%{
        margin-top: 10px;
        width: 70px;
        height: 40px;
        border-radius: 5px;
        background: #7147CB;
    }
}

:not(.Next) .Wrong:not(.Started) {
    animation: shake 0.3s;
}


@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

.Complete {
    position: fixed;
    bottom: 0px;
    right: 0px;
    margin: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: rgb(0, 173, 173);
    color: white;
    text-decoration: none;
    border: none;
    outline: none;
    font-weight: bold;
    opacity: 0;
}

.Complete.Pass {
    opacity: 1;
    background-color: rgb(0, 173, 173);
}

.Language-Select-Learn {
    position: fixed;
    top: 23px;
    right: 170px;
}

.Language-Select-Learn button {
    border: none;
    background: none;
    color: #7147CB;
    padding: 0px 15px 0px 15px;
    cursor: pointer;
    outline: none;
}

.Language-Select-Learn button+button {
    border-left: #7147CB 1px solid;
}

.selected {
    font-weight: bold;
}

.unselected {
    opacity: 50%;
}

.textInputWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
}

#textInput {
    background: none;
    border: solid 5px white;
    height: 2rem;
    margin: 20px;
    outline: none;
}

#textButton {
    padding: 6px 15px 6px 15px;
    border: none;
    border-radius: 5px;
    outline: none;
    background: rgb(161, 155, 161);
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 1.5rem;
}