@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
html {
    font-family: "Roboto", sans-serif;
}

.login-form-with-message {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.username-empty {
    visibility: hidden;
    align-self: flex-end;
    height: 0;
    z-index: 1;
    overflow: visible;
}

.username-char {
    position: relative;
    visibility: hidden;
    align-self: flex-end;
    height: 0;
    z-index: 1;
    overflow: visible;
    top: -17px;
}

.password-empty {
    visibility: hidden;
    align-self: flex-end;
    height: 0;
    z-index: 1;
    overflow: visible;
}

.password-char {
    position: relative;
    visibility: hidden;
    align-self: flex-end;
    height: 0;
    z-index: 1;
    overflow: visible;
}

.show {
    visibility: visible;
}

.speech-bubble-up {
    text-align: center;
    color: rgb(194, 18, 18);
    position: relative;
    font-size: 0.9rem;
    font-weight: bold;
    width: fit-content;
    height: fit-content;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 4px;
    padding: 0.5rem;
    padding-left: 1rem;
    height: fit-content;
    box-sizing: border-box;
    box-shadow: 0 0 .0625rem 0.0625rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
    margin-right: 5px;
    bottom: 45px;
}

.speech-bubble-up::after {
    position: absolute;
    bottom: -16px;
    right: 5px;
    width: 0;
    height: 0;
    content: '';
    border: 0.5rem solid transparent;
    border-top-color: rgba(255, 255, 255, 0.9);
    filter: drop-shadow(0, 0 -0.0625rem 0.0625rem rgba(0, 0, 0, .1));
}

.speech-bubble-down {
    text-align: center;
    color: rgb(194, 18, 18);
    position: relative;
    font-size: 0.9rem;
    font-weight: bold;
    width: fit-content;
    height: fit-content;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 4px;
    padding: 0.5rem;
    padding-left: 1rem;
    height: fit-content;
    box-sizing: border-box;
    box-shadow: 0 0 .0625rem 0.0625rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
    margin-right: 5px;
    top: 13px;
}

.speech-bubble-down::after {
    position: absolute;
    top: -16px;
    right: 5px;
    width: 0;
    height: 0;
    content: '';
    border: 0.5rem solid transparent;
    border-bottom-color: rgba(255, 255, 255, 0.9);
    filter: drop-shadow(0, 0 -0.0625rem 0.0625rem rgba(0, 0, 0, .1));
}

.wrong-account {
    visibility: hidden;
    margin-top: 5px;
    font-size: 0.8rem;
    color: rgb(255, 106, 106);
}

.wrong-account.show {
    visibility: visible;
}

.embedded-login form {
    margin-top: 30px;
    display: flex;
    align-items: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 260px;
    margin-right: 10px;
}

@keyframes shake {
    0% {
        transform: translate(2px, 0);
    }
    10% {
        transform: translate(-2px, 0);
    }
    20% {
        transform: translate(-5px, 0);
    }
    30% {
        transform: translate(-2px, 0);
    }
    40% {
        transform: translate(2px, 0);
    }
    50% {
        transform: translate(5px, 0);
    }
    60% {
        transform: translate(2px, 0);
    }
    70% {
        transform: translate(-2px, 0);
    }
    80% {
        transform: translate(5px, 0);
    }
    90% {
        transform: translate(2px, 0);
    }
    100% {
        transform: translate(1px, 0);
    }
}

.login-form.shake {
    animation: shake 0.2s
}

.embedded-login input[type="submit"] {
    display: none;
}

.embedded-login label svg {
    cursor: pointer;
    margin-right: 20px;
}

.login-username,
.login-password {
    font-size: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 4px;
}

.password-input {
    display: flex;
    box-shadow: inset 1px 1px 3px 1px rgb(175, 175, 175);
    width: 150px;
    margin-left: 5px;
    padding: 0 3px 0 5px;
    outline: none;
    border-radius: 4px;
    border: none;
    background-color: white;
    height: 26px;
}

.password-input input {
    padding: none;
    margin: none;
    font-size: 1.1rem;
    border: none;
    outline: none;
    width: 128px;
    background: none;
}

.password-input svg {
    padding-top: 1px;
    fill: gray;
    width: 22px;
}

.login-username input {
    box-shadow: inset 1px 1px 3px 1px rgb(175, 175, 175);
    font-size: 1.1rem;
    width: 150px;
    margin-left: 5px;
    padding: 3px;
    padding-left: 5px;
    outline: none;
    border-radius: 4px;
    border: none;
}

.login-username label,
.login-password label {
    color: rgb(219, 219, 219);
}

.login-signup {
    margin-top: 10px;
    display: flex;
    font-size: 0.8rem;
    color: rgb(219, 219, 219);
    align-items: center;
    justify-content: center;
}

.login-signup button {
    cursor: pointer;
    font-weight: bold;
    color: rgb(121, 179, 255);
    background-color: rgba(0, 0, 0, 0);
    outline: none;
    border: none;
}

.embedded-login-logined{
    flex-direction: column;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    background-color: white;
    width: 200px;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);

}

.logoutButton{
    cursor: pointer;
    outline: none;
    border: none;
    padding: 8px 15px;
    background: rgb(161, 59, 59);
    border-radius: 20px;
    color: white;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
}