@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
.my-profile {
    align-items: center;
    flex-flow: column;
    margin: 10px;
    color: black;
    text-align: center;
    justify-content: center;
    text-shadow: rgba(0, 0, 0, 0.4) 0 0 10px;
}

.my-profile .profile-pic {
    font-family: "Roboto Mono", sans-serif;
    width: 0;
    height: 0;
    padding: 25px;
    font-size: 1.4rem;
    margin: auto;
    border-radius: 25px;
    text-align: center;
    justify-content: center;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
    overflow: visible;
    color: white;
}

.my-profile .profile-pic-initial {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    position: relative;
    top: -15px;
    left: -15px;
}