@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
html {
    background: linear-gradient(to top, #3f4454, #0f0930);
}

.NewPost {
    font-family: 'Roboto';
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
}

.Form {
    color: white;
    align-self: center;
    justify-self: center;
    margin: auto auto;
    width: 60vw;
}

.NewPost .Sheet {
    background-color: white;
    border-radius: 5px;
    margin-bottom: 10px;
}

.NewPost .sheet-menu-bar {
    border-bottom: none;
}

.logo {
    display: inline;
    zoom: 0.4;
    position: absolute;
    top: 40px;
    left: 50px;
}

.textInput {
    width: 60vw;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.textInput[name='title'] {
    font-family: 'Roboto';
    font-size: 1.5rem;
}

.textInput[name='description'] {
    font-family: 'Roboto';
    font-size: 1.3rem;
}

Form div {
    color: rgb(173, 173, 173);
    font-family: 'Roboto';
    font-size: 1.2rem;
}

.tagWrapper {
    display: flex;
    margin: 20px 5px 20px 5px;
}

.tagWrapper .tagButton {
    color: black;
    font-size: 1.125rem;
    font-weight: 200;
    border-radius: 15px;
    display: inline-block;
    padding: 5px 20px 5px 20px;
    margin: auto;
    cursor: pointer;
    opacity: 50%;
}

.tagWrapper .tagButton.clicked {
    opacity: 100%;
}

.newPost-ButtonWrapper {
    margin-top: 10px;
    display: flex;
    width: 60vw;
    justify-content: space-between;
}

.PostButton {
    cursor: pointer;
    display: inline-flex;
    text-align: center;
    padding: 10px;
    justify-content: center;
    vertical-align: middle;
    width: 100px;
    background: linear-gradient(to top, #4950b4, #6a5ae1);
    color: white;
    text-decoration: none;
    border-radius: 10px;
    margin: 0;
    outline: none;
    border: none;
    font-size: 1rem;
}

.DiscardButton {
    display: inline-flex;
    text-align: center;
    align-self: flex-start;
    padding: 10px;
    justify-content: center;
    vertical-align: middle;
    background: linear-gradient(to top, #ad2c2c, #da3232);
    color: white;
    text-decoration: none;
    border-radius: 10px;
    margin: 0;
    outline: none;
    border: none;
    font-size: 1rem;
    padding: auto 10px;
    width: fit-content;
}