{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" href="../mmark/public/logo192.png" />
    <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}" />
    <title>MmArk Backend Server</title>
</head>

<body>
    <div class="title">MmArk Backend Server Currently Running...</div>
    <div class="desc">CS374: Intro to HCI 2021 Spring; Team MmArk</div>
    <div class="a-wrapper"><a href="http://bit.ly/CS374-MmArk">Frontend</a> ∙ <a href="http://bit.ly/CS374-MmArk-GitHub">GitHub Repository</a> ∙ <a href="http://bit.ly/CS374_MmArk">Lo-Fi Prototype (Figma)</a></div>
</body>

</html>